.pagination {
  &__item {
    text-align: center;
    display: flex;
    align-items: center;
    color: $textMain;

    .table & {
      border-top: none;
      padding: 4px 8px;
    }

    span {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .active & {
      color: $blue;
    }
  }
}
