// ======================================================
// Base :: Color
// ======================================================

$textMain: #4a4a4a;
$backgroundMain: #f0f0f0;
$colorBorder: #8b8b8b;

$white: #fff;
$green: #44b944;
$red: #ff1111;
$gray: #a1a1a1;
