// ======================================================
// Base :: Global
// ======================================================

body {
  font-size: $font-size-base;
  color: $textMain;
}

.w-10 {
  width: 10%;
}

.w-40 {
  width: 40%;
}
